<?xml version="1.0" encoding="utf-8"?>
<languages>

	<Finnish>
		<string name="app_name">Oon elämä</string>
		<string name="startButton">ALOITA</string>
		<string name="chooseStory">Valitse tarina</string>
		<string name="chooseLang">Valitse kieli</string>
		<string name="credits">Tekijät</string>
	</Finnish>

	<English>
		<string name="app_name">Oo's life</string>
		<string name="startButton">START</string>
		<string name="chooseStory">Choose story</string>
		<string name="chooseLang">Choose language</string>
		<string name="credits">Credits</string>
	</English>

</languages>