<?xml version="1.0" encoding="utf-8"?>
<languages>

	<Finnish>
		<string name="app_name">Oon elämä</string>
		<string name="startButton">Aloita</string>
		<string name="chooseStory">Valitse tarina</string>
		<string name="chooseLang">Valitse kieli</string>
		<string name="credits">Tekijät</string>
	</Finnish>

	<English>
		<string name="app_name">Oo's life</string>
		<string name="startButton">Start</string>
		<string name="chooseStory">Choose story</string>
		<string name="chooseLang">Choose language</string>
		<string name="credits">Credits</string>
	</English>

	<Swedish>
		<string name="app_name">Oo's Leben</string>
		<string name="startButton">Starta</string>
		<string name="chooseStory">Välj språk</string>
		<string name="chooseLang">Välj berättelse</string>
		<string name="credits">Författare</string>
	</Swedish>
	
	<German>
		<string name="app_name">Oos liv</string>
		<string name="startButton">Starten</string>
		<string name="chooseStory">Sprache auswählen</string>
		<string name="chooseLang">Geschichte auswählen</string>
		<string name="credits">Verfasser</string>
	</German>
	
</languages>